:root {
    --main-color: #c271ff;
    --opacity-value: 0.9;
    --background-color: #071629;
    --font-1: "Source Sans Pro", sans-serif; /* changed to font- from font-family- */
    --font-2: "Spin Cycle OT", sans-serif;
    --font-3: Coiny, sans-serif;
    --color-white: #ffffff;
    --nav-line-height: 2px;
    --pros-padding: 62px;
    --quotes-arrows-pad: 300px;
    --popular-arrows-x: -6vw;
    --smile-p-margin: 20px;
    --check-color: #82d24f;
  
    --faq-pad-inner: 8vw;
    --faq-pad-outer: 7vw;
  }
  